.main {
padding-left: 200px;
padding-top: 100px;
}

a:link {
text-decoration: none;
color: #f2dedc; 
}

a:visited {
text-decoration: none;
color: #f2dedc;
}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
}


html * {
font-family: "TerminessTTF Nerd Font Mono";
font-size: 30px;
}

p {
color: #d6a7a2;
}

body {
background-color: #2d3436
}
