:root {
    --color0: #X0;
    --color1: #X1;
    --color2: #X2;
    --color3: #X3;
    --color4: #X4;
    --color5: #X5;
    --color6: #X6;
    --color7: #X7;
    --color8: #X8;
    --color9: #X9;
    --color10: #X10;
    --color11: #X11;
    --color12: #X12;
    --color13: #X13;
    --color14: #X14;
    --color15: #X15;
}
