ICOLORS

.main {
    padding-left: 200px;
    padding-top: 75px;
    padding-right: 250px;
}

a:link {
    text-decoration: none;
    color: var(--color5);
}

a:visited {
    text-decoration: none;
    color: var(--color5);
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


html * {
    font-family: "TerminessTTF Nerd Font";
    font-size: 30px;
}

p {
    color: var(--color13);
}

hr {
    border-bottom: dashed 1px;
    border-top: none;
    color: var(--color5);
}

body {
    background-color: var(--color0);
    padding-left: 200px;
    padding-top: 75px;
    padding-right: 250px;
}
